@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: 1px solid red;

  font-family: "Open Sans";
}

:root {
  --color-white: #fff;
  --color-dark-gray: #1b1b1b;
  --color-blue: #0282f9;
}

a {
  text-decoration: none;
}

.margin-80 {
  margin: 0 auto;
  width: 80%;
}

/* header */
header {
  background-color: var(--color-white);
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.flex-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.flex-link a {
  color: var(--color-dark-gray);
}

/* main */
main {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
}

.card-container {
  padding: 1.5rem 0;
}

/* blue section */
.blue-section {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.blue-section-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}

.blue-section-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.blue-section-element a {
  color: var(--color-white);
}