@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* border: 1px solid red; */

  font-family: "Open Sans";
}

:root {
  --color-white: #fff;
  --color-light-gray: #797979;
  --color-gray: #303030;
  --color-dark-gray: #1b1b1b;
  --color-blue: #0282f9;
}

a {
  text-decoration: none;
}

.margin-80 {
  margin: 0 auto;
  width: 80%;
}

/* header */
header {
  background-color: var(--color-white);

  position: sticky;
  top: 0;
  z-index: 1;

  position: relative;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.flex-link a {
  color: var(--color-dark-gray);
  font-weight: bold;
}

.blue-bar-flex a {
  border-bottom: 0.5rem solid transparent;
  line-height: 8rem;
}

.blue-bar-flex a.active {
  color: var(--color-blue);
  border-bottom: 0.5rem solid var(--color-blue);
}

.blue-bar-flex a:hover {
  color: var(--color-blue);
  border-bottom: 0.5rem solid var(--color-blue);
}

.blue-bar-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

/* main */
main {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
}

.card-container {
  padding: 1.5rem 0;
}

/* blue section */
.blue-section {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.blue-section-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}

.blue-section-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.blue-section-element a {
  color: var(--color-white);
}

/* footer */
.footer1 {
  background-image: url(./assets/img/footer-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  color: var(--color-white);
  padding: 1rem 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-links a {
  color: var(--color-light-gray);
}

.flex-column-3 {
  display: flex;
  gap: 2rem;
}

.footer1-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  overflow: hidden;

  padding: 2rem 0;
}

.footer2 {
  background-color: var(--color-gray);
}

.footer2-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.btn1 {
  border: 3px solid var(--color-blue);
  padding: 1rem;
  background-color: var(--color-gray);
  color: var(--color-white);
  font-size: large;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.tx-blue {
  color: var(--color-blue);
  font-size: large;
}

.logo-dc {
  position: absolute;
  top: -10%;
  right: 0;
}